<div class="child centered">
  <div class="header">
    <h1>Submitted Data list!</h1>
    <button (click)="callForm()">&laquo; Back to Form</button>
  </div>
  <h3 *ngIf="list.length === 0">Please fill the form to see the results</h3>
  <table *ngIf="list.length > 0">
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Country</th>
    </tr>
    <tr *ngFor="let li of list">
      <td> {{ li.id }} </td>
      <td>{{ li.fname }}</td>
      <td>{{ li.lname }}</td>
      <td>{{ li.country }}</td>
    </tr>
  </table>
</div>
